img.teaming-logo-small {
    width: 70%;
    max-width: 50px;
}

img.teaming-logo-normal {
    height: 70%;
    max-height: 50px;
}

img.teaming-logo-medium {
    height: 70%;
    max-height: 100px;
}